<h1><%= @trip.name %> Trip Recap</h1>
<hr />

<div class = "center">
  <h3><%= @trip.name %></h3>
  <p><small>Dates: <%= @trip.start_date %> - <%= @trip.end_date %></small></p>
  <p><%= @trip.description %></p>
<hr />


<footer>
  <small>
  <%= link_to 'Edit Trip', edit_trip_path %>

  <%= link_to 'Delete Trip', trip_path, method: :delete %>
  </small>
</footer>

<br />

<%= link_to "Back to trips", trips_path %>
</div>