<h1> New Location for <%= @trip.name %> trip</h1>
<hr />

<%= form_for [@trip, @location] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>

<hr />

<%= link_to "Back to trips", trips_path %>